.izbaci-utakmicu-button-color {
    background-color: #f44336;
    color: #FFFFFF;
}

.prikazi-utakmice-button {
    background-color: #4CAF50;
    color: #FFFFFF;
}

.sakrij-utakmice-button{
    background-color: #f44336;
    color: #FFFFFF;
}

.nagrada-label {
    margin-left: 150px;
    color: #06367a;
    font-style: italic !important;
}
