.host-button{
    background-color: #4CAF50;
    color: #FFFFFF;
}

.guest-button {
    background-color: #f44336;
    color: #FFFFFF;
}

.kreiraj-utakmicu-button{
    background-color: #4CAF50;
    color: #FFFFFF;
}

.naziv-utakmice-label{
    margin-left:150px;
    color : #06367a;
    font-style: italic !important;
}

.obrisi-utakmicu-button-color {
    background-color: #f44336;
    color: #FFFFFF;
}