<div class="min-h-screen flex flex-column">
  <div class="bg-black" style="height: 180px">
    <div
      class="limited-width flex justify-content-between"
      style="min-height: 80px"
    >
      <div class="bg-black flex">
        <ul
          class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 lg:border-top-none"
        >
          <li>
            <a
              (click)="route('/dashboard')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-solid fa-house pr-2"></i>
              <span class="font-medium">Početna</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/racuni')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-sharp fa-solid fa-file-invoice-dollar pr-2"></i>
              <span class="font-medium">Računi</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/maloprodaja')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-solid fa-cash-register pr-2"></i>
              <span class="font-medium">Maloprodaja</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/roba')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-solid fa-boxes-stacked pr-2"></i>
              <span class="font-medium">Roba</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/kompanija')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-solid fa-building pr-2"></i>
              <span class="font-medium">Kompanija</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/banka')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-solid fa-building-columns pr-2"></i>
              <span class="font-medium">Banka</span>
            </a>
          </li>
          <li>
            <a
              (click)="route('/podesavanja')"
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-100"
            >
            <i class="fa-sharp fa-solid fa-gear pr-2"></i>
              <span class="font-medium">Podešavanja</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-5 flex flex-column flex-auto" style="margin-top: -8rem">
    <div
      style="margin-top: 20px"
      class="p-4 limited-width surface-border border-round surface-section flex-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
